* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Bodoni Moda', serif;
}

h1 {
  margin: 10px;
  font-size: 40px;
}

.name {
  color:#3b5a28;
  font-size: 30px;

}

video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1; 
}

.container {
  display: flex;
  justify-content: center;
  margin: 5px;
}

.icons {
  width: 35px;
  height: 30px;

}

.search {
  width: 100%;
  padding: 12px 24px;
  background-color: transparent;
  font-size: 14px;
  line-height: 5px;
  color: #575756;
  box-shadow: inset 0px 0px 0px 4px #ddd6e8;
  margin-right: 20px;
  border: none;
}

.btn {
  margin-left: 55px;
  background-color: transparent;
  border: none;
}
ul {
  list-style: none;
  padding: 0;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

li {
  background-color: #dbecc4;
  padding: 5px;
  margin: 5px;
}

.photoFood {
  width: 250px;
  height: 250px;
}
